* {
    display: flexbox;
    margin: 0;
    background-color: #f3f3f3;
    font-family: 'Raleway', sans-serif;
}

body {
    position: relative;
}

.title {
    background-color: #FFC300;
    margin-bottom: 10px;
    padding: 20px;
    border-bottom: solid black;
}

.havingfun_sc {
    background-color: #8fff33;
    border-radius: 5px;
    margin: 0px;
}

.havingfun_sc:hover {
    background-color: #FFC300;
    cursor: pointer;
}

.havingfun_btn {
    color: white;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.container2 {
    margin-top: 10%;
    background-color: rgba(187, 187, 187, 0.418);
    display: inline-block;
    position: relative;
    padding: 40px;
    border-radius: 10px;
}
